<div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a ng-click="setPgId(0)" href="index.html"><span class="col-xs-4 navbar-brand glyphicon glyphicon-home"></span></a>
          <span class="col-xs-4 navbar-brand"><img src="img/logo.png" class="center-block" height="30" width="80"/></span>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
            </ul>
        </div>
        <ul ng-hide="pageId !== 2" class="nav nav-tabs">
            <li role="presentation"><a href="#/entertainment">Bars</a></li>
            <li role="presentation"><a href="#/entertainment">Recreation</a></li>
            <li role="presentation"><a href="#/entertainment">Events</a></li>
            <li role="presentation"><a href="#/entertainment">Calendar</a></li>
        </ul>
        <ul ng-hide="pageId !== 3" class="nav nav-tabs">
            <li role="presentation"><a href="#/nutrition">Restaurants</a></li>
            <li role="presentation"><a href="#/nutrition">Grocery Store</a></li>
        </ul>
      </div>
    </nav>
</div>
