<html>

    <!-- Styling Sheets -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/style.css" type="text/css" media="screen">

    <!--  JavaScript includes -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<body>
    <!-- TOOLBAR -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a href="index.html"><span class="col-xs-4 navbar-brand glyphicon glyphicon-home"></span></a>
          <span class="col-xs-4 text-center navbar-brand">WebSiteName</span>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
            </ul>
        </div>
      </div>
    </nav>

    <!-- NAVIGATION BAR -->


    <!-- ******************* Stefano Codes ***************** -->
	<!-- <div class = "butt_cont">
		<a href="#" class="btn btn-success btn-lg">Housing</a>
	</div>
	<br>
	<div class = "butt_cont">
		<a href="entertainment.html" class="btn btn-success btn-lg">Entertainment</a>
	</div>
	<br>
	<div class = "butt_cont">
		<a href="#" class="btn btn-success btn-lg">Nutrition</a>
	</div> -->
    <!-- ************** End of Stefano Codes **************** -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 center-block">
                <a href="housing.html" class="btn btn-success btn-block center-block">Housing</a>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-xs-12 center-block">
                <a href="entertainment.html" class="btn btn-success btn-block center-block">Entertainment</a>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-xs-12 center-block">
                <a href="nutrition.html" class="btn btn-success btn-block center-block">Nutrition</a>
            </div>
        </div>
    </div>
</body>
</html>
